<div class="app">
  <nav class="nav-bar">
    <ul class="main-nav">
      {{#link-to "home" class="main-nav--item--text"}}
        <li class="main-nav--item hvr-underline-from-center">Home</li>
      {{/link-to}}
      {{#link-to "logistics" class="main-nav--item--text"}}
        <li class="main-nav--item hvr-underline-from-center">Logistics</li>
      {{/link-to}}
      {{#link-to "security" class="main-nav--item--text"}}
        <li class="main-nav--item hvr-underline-from-center">Security</li>
      {{/link-to}}
      {{#link-to "training" class="main-nav--item--text"}}
        <li class="main-nav--item hvr-underline-from-center">Training</li>
      {{/link-to}}
      {{#link-to "events" class="main-nav--item--text"}}
        <li class="main-nav--item hvr-underline-from-center">Events</li>
      {{/link-to}}
      {{#link-to "contact" class="main-nav--item--text"}}
        <li class="main-nav--item hvr-underline-from-center">Contact</li>
      {{/link-to}}
    </ul>
  </nav>
</div>

{{outlet}}

<footer class="footer">
  <div class="section">
    <div class="container">
      <div>&copy; {{year}} Ops Defense Corporation. All Rights Reserved.</div>
    </div>
  </div>
</footer>