body {
  background-color: #E1CFB6;
  color: #2E2A24;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
