$c-dark-grey: #2e2a24;
$c-dark-grey-skin: rgba($c-dark-grey, .75);
$c-orange: #b84d38;
$c-orange-skin: rgba($c-orange, .9);
$c-beige: #e1cfb6;
$c-beige-skin: rgba($c-beige, .9);
$c-tan: #b49367;
$c-tan-skin: rgba($c-tan, .9);

$m-gutter: 1rem;

@import 'reset';
@import 'home';
@import 'events';
@import 'logistics';
@import 'security';
@import 'training';
@import 'contact';
@import 'media';

.section {
  padding: $m-gutter;
}

.container {
  margin: auto;
  max-width: 65rem;
}

.app {
  margin: auto;
  width: 100%;
}

.nav-bar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-nav {
  background: $c-beige;
  display: flex;
  font-weight: bold;
  justify-content: center;

  &--item {
    margin: $m-gutter / 2;
    padding: $m-gutter / 2;
    text-align: center;
    text-transform: uppercase;
  }
}

.hvr-underline-from-center {
  box-shadow: 0 0 1px transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;

  &::before {
    background: $c-orange;
    bottom: 0;
    content: '';
    height: 4px;
    left: 50%;
    position: absolute;
    right: 50%;
    transition-duration: .3s;
    transition-property: left, right;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    left: 0;
    right: 0;
  }
}

.footer {
  background: $c-beige;
  color: $c-orange;
  padding: 0 $m-gutter;
  width: 100%;
}
