$c-dark-grey: #2E2A24;
$c-orange: #B84D38;
$c-beige: #E1CFB6;
$c-tan: #B49367;

$m-gutter: 1rem;

@import 'reset';
@import 'home';
@import 'events';
@import 'logistics';
@import 'security';
@import 'training';
@import 'contact';

.section {
  padding: $m-gutter;
}

.container {
  max-width: 65rem;
  margin: auto;
}

.app {
  margin: auto;
  width: 100%;
}

.top-nav {
  padding: $m-gutter;
  display: flex;
  background: $c-dark-grey;
  justify-content: center;

  &__text {
    padding: 0 $m-gutter * 4;
    color: $c-beige;
    width: 40rem;
    font-size: 3rem;
  }
}

.logo {
  width: 20rem;
}

.main-nav a {
  float: left;
  width: 16.666666666%;
  background: $c-beige;
  border-color: $c-orange;
  border-bottom: 10rem;
  font-weight: bold;
}

.main-nav>a:first-child {
  border-bottom-left-radius: 3px
}

.main-nav>a:last-child {
  border-bottom-right-radius: 3px
}

nav a {
  color: inherit;
  display: inline-block;
  padding: 17px 25px;
  text-align: center;
}

.footer {
  color: $c-beige;
  background: $c-dark-grey;
  padding: 0 $m-gutter;
  width: 100%;
}
