@import 'reset';
@import 'home';
@import 'events';
@import 'logistics';
@import 'mission';
@import 'security';
@import 'training';
@import 'contact';

.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: auto;
}

.app {
  margin: auto;
  width: 80%;
}

.top-bar::after {
  content: '';
  display: block;
  background: #2E2A24;
  height: 5px;
}

.logo {
  font-size: 3em;
  margin-left: 25px;
}

.second-bar {
  width: 100%;
  border-radius: 10px;
}

.main-nav a {
  float: left;
  width: 14.285714285%;
  background: #E1CFB6;
}

.main-nav>a:first-child {
  border-bottom-left-radius: 3px
}

.main-nav>a:last-child {
  border-bottom-right-radius: 3px
}

nav a {
  color: inherit;
  display: inline-block;
  padding: 17px 25px;
  text-align: center;
}
