@import 'reset';
@import 'home';
@import 'events';
@import 'logistics';
@import 'mission';
@import 'security';
@import 'training';
@import 'contact';


.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: auto;
}
