$c-dark-grey: #2E2A24;
$c-orange: #B84D38;
$c-beige: #E1CFB6;
$c-tan: #B49367;

$m-gutter: 1rem;

@import 'reset';
@import 'home';
@import 'events';
@import 'logistics';
@import 'security';
@import 'training';
@import 'contact';
@import 'media';

.section {
  padding: $m-gutter;
}

.container {
  max-width: 65rem;
  margin: auto;
}

.app {
  margin: auto;
  width: 100%;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $c-dark-grey;

  &__text {
    padding: $m-gutter;
    color: $c-beige;
    font-size: 50px;
    text-align: center;
  }
}

.logo {
  border: $c-tan 2.5px solid;
  margin: $m-gutter;
  width: 20rem;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: $c-orange 2px solid;
  border-bottom: $c-orange 2px solid;
}

.main-nav {
  display: flex;
  justify-content: center;
  background: $c-beige;
  font-weight: bold;

  &__item {
    text-align: center;
    text-transform: uppercase;
    margin: $m-gutter / 2;
    padding: $m-gutter / 2;
  }
}

.footer {
  color: $c-orange;
  background: $c-beige;
  padding: 0 $m-gutter;
  width: 100%;
}
