.contact {
  padding: $m-gutter * 2.25;
  background: linear-gradient(rgba($c-tan,.9),rgba($c-beige,.9)),url('/img/bg-contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__text{
    font-size: 18px;
    font-weight: bold;
  }
}
