.contact {
  background: linear-gradient($c-tan-skin, $c-beige-skin), url('/img/bg-contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  padding: $m-gutter * 2;

  &--text {
    font-size: 25px;
    font-weight: bold;
  }
}
