.events {
  padding: $m-gutter * 4;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba($c-orange,.9),rgba($c-beige,.9)),url('/img/bg-events.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__title {
    color: $c-beige;
  }

  &__description {
    font-size: 22px;
    font-weight: bold;
    color: $c-dark-grey;
  }
}
