.events {
  background: linear-gradient($c-orange-skin, $c-beige-skin), url('/img/bg-events.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  padding-top: $m-gutter * 2;

  &-title {
    color: $c-beige;
    font-size: 50px;
  }

  &-description {
    color: $c-dark-grey;
    font-size: 30px;
    font-weight: bold;
  }
}
