.events {
  padding: $m-gutter * 4;
  background: linear-gradient(rgba($c-orange,.9),rgba($c-beige,.9)),url('/img/bg-events.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 90vh;

  &__title {
    font-size: 50px;
    color: $c-beige;
  }

  &__description {
    font-size: 30px;
    font-weight: bold;
    color: $c-dark-grey;
  }
}
