.home {
  padding: $m-gutter * 4;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba($c-beige,.75),rgba($c-beige,.75)),url('/img/bg-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .grid {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__item {
      display: flex;
      flex-basis: calc(100% / 3 - 1rem);
      flex-grow: 1;
      margin: $m-gutter * 2;
      background: linear-gradient(rgba($c-orange,.5),rgba($c-tan,.5));
      padding: $m-gutter * 2;
    }
  }

  &__img {
    width: 40%;

    &-2 {
      width: 40%;
    }
  }

  &__text {
    padding: $m-gutter;
    text-align: center;
    font-weight: bold;
    height: 20rem;
  }

  &__title {
    color: $c-beige;
  }

  &__description {
    padding: $m-gutter;

    &-2 {
      font-size: 18px;
      color: $c-dark-grey;
    }
  }
}
