.home {
  width: 100%;
  height: 40rem;
  background: linear-gradient(rgba(#E1CFB6,.75),rgba(#E1CFB6,.75)),url('/img/banner.jpg');;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
