.logistics {
  background: linear-gradient($c-dark-grey-skin, $c-dark-grey-skin), url('/img/bg-logistics.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  padding-top: $m-gutter * 2;

  &--text {
    color: $c-beige;
    font-size: 26px;
  }
}
