.logistics {
  padding: $m-gutter * 4;
  background: linear-gradient(rgba($c-dark-grey,.75),rgba($c-dark-grey,.75)),url('/img/bg-logistics.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 90vh;

  &__text {
    font-size: 18px;
    color: $c-beige;
  }
}
