@media (min-width: 300px) and (max-width: 650px) {
  .container {
    max-width: 100rem;
  }

  .main-nav {
    flex-wrap: wrap;

    &--item {
      border: $c-orange 1px solid;
      width: calc(100% / 1 - 1rem);

      &--text {
        width: 100%;
      }
    }
  }

  .home {

    &--grid--item {
      flex-direction: column;
    }

    &--img {
      max-height: 100%;
      width: 100%;
    }

    &--text {
      font-size: 22px;
    }
  }

  .logistics {
    font-size: 22px;
  }

  .security {

    &--grid--item {
      flex-direction: column;
    }

    &--img {
      width: 100%;
    }
  }

  .training {

    &--grid--item {
      flex-direction: column;
    }

    &--img {
      width: 100%;
    }
  }

  .contact {

    &--text {
      font-size: 22px;
    }
  }
}
