@media (min-width: 300px) and (max-width: 650px) {
  .container {
    max-width: 100rem;
  }

  .top-nav {
    flex-direction: column;

    &__text {
      width: 20rem;
    }
  }

  .main-nav {
    flex-wrap: wrap;

    &__item {
      border: $c-orange 1px solid;
      width: calc(100% / 1 - 1rem);

      &--text {
        width: 100%;
      }
    }
  }

  .home {

    &__grid {

      &__item {
        flex-direction: column;
      }
    }

    &__img {
      max-height: 100%;
      width: 100%;
    }

    &__text {
      font-size: 22px;
    }
  }

  .logistics {
    font-size: 22px;
  }

  .security {

    &__grid {

      &__item {
        flex-direction: column;
      }
    }

    &__img {
      width: 100%;
    }

    &__text {
      width: 100%;
    }
  }

  .training {

    &__grid {

      &__item {
        flex-direction: column;
      }
    }

    &__img {
      width: 100%;
    }

    &__text {
      width: 100%;
    }
  }

  .contact {

    &__text {
      font-size: 22px;
    }
  }
}
