.security {
  padding: $m-gutter * 4;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba($c-dark-grey,.75),rgba($c-dark-grey,.75)),url('/img/bg-mission.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__grid {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__item {
      display: flex;
      flex-grow: 1;
      margin: $m-gutter * 2;
      background: linear-gradient(rgba($c-orange,.7),rgba($c-tan,.5));
      padding: $m-gutter * 2;
      border-radius: 2.5rem;
    }
  }

  &__img {
    width: 60%;
  }

  &__text {
    padding: $m-gutter * 2;
    width: 40%;
  }

  &__title {
    color: $c-beige;
  }

  &__description {
    font-size: 22px;
    color: $c-beige;
  }
}
