.training {
  background: linear-gradient($c-orange-skin, $c-beige-skin), url('/img/bg-training.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  padding: ($m-gutter * 2.25) 0;

  &--grid {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--item {
      background: linear-gradient($c-dark-grey-skin, $c-tan-skin);
      display: flex;
      flex-grow: 1;
    }
  }

  &--img {
    width: 60%;
  }

  &--text {
    padding: $m-gutter * 2;
  }

  &--title {
    color: $c-beige;
    font-size: 40px;
  }

  &--description {
    color: $c-beige;
    font-size: 22px;
  }
}
