.training {
  padding: $m-gutter * 2.25;
  background: linear-gradient(rgba($c-tan,.9),rgba($c-beige,.9)),url('/img/bg-training.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;

    &__item {
      display: flex;
      justify-content: center;
      width: calc(100% / 2 - 2rem);
      flex-grow: 1;
      margin: $m-gutter 0;
      background: linear-gradient(rgba($c-dark-grey,.7),rgba($c-tan,.5));
    }
  }

  &__text {
    text-align: center;
    padding: $m-gutter * 1.5;
    font-size: 18px;
    font-weight: bold;
    color: $c-dark-grey;
  }

  &__title {
    color: $c-beige;
  }

  &__img {
    padding: $m-gutter * 1.5;
  }
}
