.training {
  padding: $m-gutter * 2.25;
  background: linear-gradient(rgba($c-tan,.9),rgba($c-beige,.9)),url('/img/bg-training.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 90vh;

  &__grid {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__item {
      display: flex;
      flex-grow: 1;
      background: linear-gradient(rgba($c-dark-grey,.7),rgba($c-tan,.5));
    }
  }

  &__img {
    padding: $m-gutter * 1.5;
    width: 60%;
  }

  &__text {
    padding: $m-gutter * 1.5;
  }

  &__title {
    color: $c-beige;
  }

  &__description {
    font-size: 22px;
    color: $c-beige;
  }
}
