<div class="app">
  <nav class="navbar navbar-default negative-margin">
    <div class="container">
      <div class="nav navbar-nav">
        <li class="nav-text">{{#link-to "home"}}Home{{/link-to}}</li>
        <li class="nav-text">{{#link-to "mission"}}Our Mission{{/link-to}}</li>
        <li class="nav-text">{{#link-to "logistics"}}Logistics{{/link-to}}</li>
        <li class="nav-text">{{#link-to "security"}}Security{{/link-to}}</li>
        <li class="nav-text">{{#link-to "training"}}Training{{/link-to}}</li>
        <li class="nav-text">{{#link-to "events"}}Events{{/link-to}}</li>
        <li class="nav-text">{{#link-to "contact"}}Contact{{/link-to}}</li>
      </div>
    </div>
  </nav>

{{outlet}}

<footer class="footer">
    <div class="section">
      <div class="container">
        <p class="flex-end">© 2017 Ops Defense Corporation</p>
      </div>
    </div>
  </footer>
</div>
