<div class="app">
  <div class="top-nav">
    <img src="/img/odc-logo.png" alt="" class="logo">
    <h1 class="top-nav__text">WELCOME TO OPS DEFENSE CORP</h1>
  </div>
  <nav class="nav-bar">
    <ul class="main-nav">
      {{#link-to "home" class="main-nav__item--text"}}<li class="main-nav__item">Home</li>{{/link-to}}
      {{#link-to "logistics" class="main-nav__item--text"}}<li class="main-nav__item">Logistics</li>{{/link-to}}
      {{#link-to "security" class="main-nav__item--text"}}<li class="main-nav__item">Security</li>{{/link-to}}
      {{#link-to "training" class="main-nav__item--text"}}<li class="main-nav__item">Training</li>{{/link-to}}
      {{#link-to "events" class="main-nav__item--text"}}<li class="main-nav__item">Events</li>{{/link-to}}
      {{#link-to "contact" class="main-nav__item--text"}}<li class="main-nav__item">Contact</li>{{/link-to}}
    </ul>
  </nav>
</div>

{{outlet}}

<footer class="footer">
  <div class="section">
    <div class="container">
      <p class="flex-end">© 2017 Ops Defense Corporation</p>
    </div>
  </div>
</footer>
