<div class="app">
  <div class="top-nav">
    <img src="/img/odc-logo.png" alt="" class="logo">
    <h1 class="top-nav__text">WELCOME TO OPS DEFENSE CORP</h1>
  </div>
  <nav class="main-nav">
    <div class="" href="#">{{#link-to "home"}}Home{{/link-to}}</div>
    <div class="" href="#">{{#link-to "mission"}}Mission{{/link-to}}</div>
    <div class="" href="#">{{#link-to "logistics"}}Logistics{{/link-to}}</div>
    <div class="" href="#">{{#link-to "security"}}Security{{/link-to}}</div>
    <div class="" href="#">{{#link-to "training"}}Training{{/link-to}}</div>
    <div class="" href="#">{{#link-to "events"}}Events{{/link-to}}</div>
    <div class="" href="#">{{#link-to "contact"}}Contact{{/link-to}}</div>
  </nav>
</div>

{{outlet}}

<footer class="footer">
  <div class="section">
    <div class="container">
      <p class="flex-end">© 2017 Ops Defense Corporation</p>
    </div>
  </div>
</footer>
