<div class="contact">
  <div class="section">
    <div class="container">
      <div class="contact--text">
        <h1 class="contact--title">CONTACT US</h1>
        <h3>We would be honored to help you.</h3>
        <ul>
          <li>1016 Mount Vernon Dr.</li>
          <li>Shelbyville, KY 40065</li>
          <li>aaron.reed@opsdefense.com</li>
          <li>502-802-5427</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{outlet}}
