<div class="events">
  <div class="section">
    <div class="container">

    </div>
  </div>
</div>

<p>Ops Defense Corp and partners corporations host trade-shows and instructional courses throughout the year.  Events will be posted on the website.</p>

{{outlet}}
