<div class="events">
  <div class="section">
    <div class="container">
      <div class="events__text">
        <h1 class="events__title">EVENTS</h1>
        <p class="events__description">Ops Defense Corp and partner corporations host trade-shows and instructional seminars throughout the year. Events will be posted on the website.</p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
