<div class="events">
  <div class="section">
    <div class="container">

    </div>
  </div>
</div>

<p>EVENTS:  Fees from 1-2 large events hosted yearly at a facility such as GC.  One event could be tactical/security in nature, another might be HSDR and emergency management focused.</p>
<p>Produce trade-shows and conferences hosted by ODC, Black Dog Surplus, etc. promoting the mission and services of our various corporations</p>

{{outlet}}
