<div class="home">
  <div class="section">
    <div class="container">
      <div class="grid">
        <div class="grid__item">
          <div class="home__text">
            <h1 class="home__title">WHO WE ARE</h1>
            <p>Ops Defense Corporation manufactures and assembles gear and accessories needed by active field personnel. Products range from calorie-dense, dietary specific Rations, to survival kits and first aid kits. Designed with Clients to meet precise needs, custom products enhance the Operators’ ability to successfully complete their mission. Ops Defense Corporation offers a variety of real-world training scenarios. Training programs vary from civilian to law enforcement to emergency management agencies. Ops Defense Corporation, to maximize their success and efficiency in the rapid deployment of disaster relief resources, maintains a 50-member security force to support contracted disaster relief missions.</p>
            </div>
          <img class="home__img" src="/img/home.jpg" alt="">
        </div>
        <div class="grid__item">
          <img class="home__img-2" src="/img/aaron.png" alt="">
          <div class="home__text">
            <h1 class="home__title">AARON REED, CEO</h1>
            <p class="home__description-2">Aaron has served as a Navy SEAL for over 18 years and deployed all over the world including multiple trips to Iraq and Afghanistan.  Aaron was the lead SEAL Survival Instructor for three years in Kodiak, AK while serving with Naval Special Warfare Advanced Training Command.  He has served as CEO for Kodiak Koating Inc., Triple Countermeasure LLC, and Ops United.  As a Navy SEAL Sniper, Pro 3-Gun shooter, and business man, Aaron brings to the table a world class skill level and leadership ability.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
