<div class="home">
  <div class="section">
    <div class="container">
      <div class="home__grid">
        <div class="home__grid__item">
          <div class="home__text">
            <h1 class="home__title">OUR MISSION</h1>
              <ul class="home__description">
                <li>Ops Defense Corporation offers a variety of real-world training.</li>
                <li>We support and security to Law Enforcement Government Agencies, Emergency Management Agencies, Corporations and Non-profits tailored to their specific needs.</li>
                <li>Our missions include threat assessment, humanitarian and disaster relief, security personnel training and corporate security training.</li>
                <li>We are guaranteed to provide Top Tier security personnel according to client needs.</li>
              </ul>
            </div>
          <img class="home__img" src="/img/home.jpg" alt="">
        </div>
        <div class="home__grid__item">
          <img class="home__img-2" src="/img/aaron.png" alt="">
          <div class="home__text">
            <h1 class="home__title">AARON REED, CEO</h1>
            <p class="home__description-2">Aaron has served as a Navy SEAL for over 18 years and deployed all over the world including multiple trips to Iraq and Afghanistan.  Aaron was the lead SEAL Survival Instructor for three years in Kodiak, AK while serving with Naval Special Warfare Advanced Training Command.  He has served as CEO for Kodiak Koating Inc., Triple Countermeasure LLC, and Ops United.  As a Navy SEAL Sniper, Pro 3-Gun shooter, and business man, Aaron brings to the table a world class skill level and leadership ability.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
