<div class="home">
  <div class="section">
    <div class="container">
      <div class="home__grid">
        <div class="home__grid__item">
          <div class="home__text">
            <h1 class="home__title">OUR MISSION</h1>
            <p>Ops Defense Corp offers a variety of real-world training. We support and provide security to Law Enforcement Government Agencies, Emergency Management Agencies, Corporations and Non-profits which is tailored to their specific needs. Our missions include threat assessment, humanitarian and disaster relief, security personnel and corporate security training. ODC is able to provide training and security personnel at the Tier One Operational level.</p>
          </div>
          <img class="home__img" src="/img/home.jpg" alt="">
        </div>
        <div class="home__grid__item">
          <img class="home__img" src="/img/aaron.png" alt="">
          <div class="home__text">
            <h1 class="home__title">AARON REED, CEO</h1>
            <p>Aaron has served as a Navy SEAL for over 18 years, deploying worldwide including multiple trips to Iraq and Afghanistan. He was the lead SEAL Survival Instructor for three years in Kodiak, AK while serving with Naval Special Warfare Advanced Training Command.  Aaron also serves as the CEO for Kodiak Koating Inc., Triple Countermeasure LLC, and Ops United. As a Navy SEAL Sniper, sponsored Pro 3-Gun shooter, and business man, he brings to the table a world class skill level and leadership ability.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
