<div class="logistics">
  <div class="section">
    <div class="container">
      <h1 class="logistics__title">LOGISTICS</h1>
      <p class="logistics__description">Ops Defense Corp has the experienced personnel and operational expertise needed to provide safe transport of valuable supplies to locations throughout the world.  Interestedly we have a close relationship with a industry leading Meals Ready to Eat provider that dovetails nicely with our logistic services.</p>
    </div>
  </div>
</div>

{{outlet}}
