<div class="logistics">
  <div class="section">
    <div class="container">

    </div>
  </div>
</div>

<p>LOGISTICS:  Given the unpredictable nature of HSDR, suggest Cost Plus Fee based revenues charged to the customer for logistical services provided during an event. Cost to pre-arrange possible logistical operations must be kept at a minimum.</p>

<p>Provide complete domestic and international logistical support for WGP. Establish contingency plans for probable Humanitarian Support / Disaster Relief missions (HSDR). Prearrange contract or in-house movement of MREs/Personnel/Supplies (MPS) to and from operating areas. Prepositioning and storage of MPS at various strategic locations. Support of on-going HSDR operations. </p>

{{outlet}}
