<div class="logistics">
  <div class="section">
    <div class="container">
      <div class="logistics--text">
        <h1>LOGISTICS</h1>
        <p>Ops Defense Corp has experienced personnel and operational expertise required to provide safe transport of valuable supplies to locations throughout the world.  In addition to our logistic services, we have a partnership with an industry leading (MRE) Meals Ready to Eat provider as well as various other emergency supplies distributors enabling us to provide an efficient response to any requirement. </p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
