<div class="mission">
  <div class="section">
    <div class="container">
      <h1 class="mission__title">OUR MISSION</h1>
      <p class="mission__description">The mission of Ops Defense Corp (ODC) is to support the domestic and international relief efforts of Witt Global Partners (WGP) via logistical and security support, security training and event hosting to promote ODC and its sister companies.</p>
    </div>
  </div>
</div>

{{outlet}}
