<div class="security">
  <div class="section">
    <div class="container">
      <div class="security--grid">
        <div class="security--grid--item">
          <img src="/img/security.png" alt="" class="security--img">
          <div class="security--text">
            <h1 class="security--title">SECURITY</h1>
            <p class="security--description">Ops Defense Corp provides Tier One support and personnel for protective details, high value asset movement, humanitarian and disaster relief, event, and corporate security worldwide.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
