<div class="security">
  <div class="section">
    <div class="container">

    </div>
  </div>
</div>

<p>Provide organic physical security for deployment of humanitarian operations domestically and internationally.
Provide custom security solutions for US and partner forces around the world.</p>

<p>SECURITY:  By providing all levels of operators up to Tier One level, ODC offers a world class protective detail unmatched by any.  Partnering with WGP, BDS, and other companies, ODC is compensated on multiple levels including partnership.</p>

{{outlet}}
