<div class="security">
  <div class="section">
    <div class="container">
      <div class="security__grid">
        <div class="security__grid__item">
          <img src="/img/security.png" alt="" class="security__img">
          <div class="security__text">
            <h1 class="security__title">SECURITY</h1>
            <p class="security__description">Ops Defense Corp provides world class training, support and Tier One personnel world wide of services such as protective details, high value asset movement, humanitarian and disaster relief, event and corporation security.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
