<div class="training">
  <div class="section">
    <div class="container">
      <div class="training__grid">
        <div class="training__grid__item">
          <img src="/img/training.png" alt="" class="training__img">
        </div>
        <div class="training__grid__item">
          <div class="training__text">
            <h1 class="training__title">HOW WE TRAIN</h1>
            <p>Training by ODC covers topics including but not limited to world-class firearms instruction, executive protection, active shooter, close quarters combat, basic martial arts, trauma medical and much more.  Training is provided at our Louisville, KY facility or on-site if so desired.</p>
          </div>
        </div>
        <div class="training__grid__item">
          <img src="/img/training2.jpg" alt="" class="training__img">
        </div>
      </div>
    </div>
  </div>
</div>


{{outlet}}
