<div class="training">
  <div class="section">
    <div class="container">

    </div>
  </div>
</div>

<p>TRAINING:  ODC provides all levels of operational shooting skills with any given platform in the world.  ODC facilitates emergency management exercises and training events.  Our clients are LE/Mil as well as foreign governments and private organizations friendly to the US.</p>

<p>Facilitate large scale emergency management exercises and events. Operational Small arm shooter skills.</p>

{{outlet}}
